@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 100;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 58px;
  text-align: center;
  margin-bottom: 35px;
}

h2 {
  font-size: 58px;
  font-weight: 500;
  text-align: right;
  line-height: 100%;
}

p {
  font-weight: 400;
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100%;
}
body.sunny {
  background: rgb(161, 233, 255);
  background: linear-gradient(
    0deg,
    rgba(161, 233, 255, 1) 0%,
    rgba(21, 133, 214, 1) 100%
  );
}
body.partlyCloudy {
  background: rgb(220, 220, 220);
  background: linear-gradient(
    0deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(166, 210, 223, 1) 100%
  );
}
body.cloudy {
  background: rgb(200, 210, 214);
  background: linear-gradient(
    0deg,
    rgba(200, 210, 214, 1) 0%,
    rgba(168, 175, 177, 1) 100%
  );
}

body.rain {
  background: rgb(200, 210, 214);
  background: linear-gradient(
    0deg,
    rgba(200, 210, 214, 1) 0%,
    rgba(127, 135, 138, 1) 100%
  );
}
body.tstorm {
  background: rgb(174, 186, 190);
  background: linear-gradient(
    0deg,
    rgba(174, 186, 190, 1) 0%,
    rgba(65, 74, 77, 1) 100%
  );
}

#topNav {
  display: flex;
  align-items: center;
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

#mainMenu {
  width: 26px;
  height: 24px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
#topNav p {
  text-align: center;
  width: calc(100% - 103px);
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
#addLocation {
  width: 37px;
  margin-left: 20px;
  cursor: pointer;
}
#weatherContainer {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0 30px;
}

#todayWeather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

#todayWeather img {
  width: 40%;
}
#todayWeather #mainInfo {
  width: 60%;
}
#todayHighLow {
  text-align: right;
  font-size: 19px;
  font-weight: 500;
}

#todayCondition {
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  color: rgba(255, 255, 255, 0.65);
}

#secondaryInfo {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
#bgFooter {
  position: absolute;
  bottom: 0;
}
#loadingSpinner {
  display: none;
  width: 40%;
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loadingSpinner span {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#loadingSpinner img {
  animation: loading 2s ease-in-out infinite;
}

#weather,
#temperature {
  text-align: center;
}

#clearIcon {
  animation: sunrise 1.2s 0.5s ease-in-out forwards;
  display: none;
}

#cloudyIcon {
  animation: drift 5s ease-in-out alternate infinite;
  display: none;
}

#rainIcon {
  animation: drift 4s ease-in-out alternate infinite;
  display: none;
}

#tstormIcon {
  animation: drift 3s ease-in-out alternate infinite;
  display: none;
}

#snowIcon {
  animation: drift 10s ease-in-out alternate infinite;
  display: none;
}

#todayUV {
  display: inline-block;
  background-color: #ea6868;
  padding: 0 15px;
  border-radius: 30px;
  line-height: 37px;
}
#weekForecast {
  display: flex;
}
#weekForecast .futureForecast {
  width: 16%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  margin: 0 2%;
  padding: 5px 0;
}
#futureDetails {
  display: flex;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
}

#futureDetails p {
  font-size: 24px;
}
#futureTemp {
  margin-right: 30px;
}

#futureDetails .weatherIcon {
  width: 40px;
  margin-right: 15px;
}
.futureForecast.active {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
.left {
  text-align: left;
  line-height: 40px;
}
.right {
  text-align: right;
  line-height: 40px;
}
.line {
  width: 95%;
  margin: 10px auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.width50 {
  width: 50%;
}

.raindrop1 {
  animation: rain 1s 0.2s ease-in backwards infinite;
}

.raindrop2 {
  animation: rain 1s 1s ease-in backwards infinite;
}

.raindrop3 {
  animation: rain 1s 0.6s ease-in backwards infinite;
}

.snowflake1 {
  animation: snowfall 3s 0.2s ease-in backwards infinite;
}

.snowflake2 {
  animation: snowfall 3s 2s ease-in backwards infinite;
}

.snowflake3 {
  animation: snowfall 3s 1s ease-in backwards infinite;
}

.cloud {
  animation: drift 6s ease-in-out alternate infinite;
  /* animation: smallDrift 5s ease-in-out alternate infinite; */
}

#unitToggle {
  text-align: center;
  font-size: 26px;
  line-height: 16px;
  position: absolute;
  bottom: 40px;
  right: 30px;
  display: none;
}

#sliderContainer {
  border: 2px solid #fff;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: -7px;
}

#sliderContainer input {
  display: none;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + #slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(22px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rain {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: translate(-10px, 20px);
  }
}

@keyframes drift {
  0% {
    transform: translateX(-10px);
  }

  100% {
    transform-origin: top;
    transform: translateX(10px) rotate(-2deg);
  }
}

@keyframes smallDrift {
  100% {
    transform-origin: top;
    transform: translate(2px, -3px) rotate(-2deg);
  }
}

@keyframes loading {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@media (min-width: 800px) {
  #weatherWrapper {
    border: 1px solid #fff;
    max-width: 680px;
    margin: 0 auto;
    padding: 40px 0;
    border-radius: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}
